node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env




ios
android

# Android build artifacts
android/.gradle/
android/app/build/
android/build/

# iOS build artifacts
ios/build/
ios/Pods/


# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*